/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
	padding: .5rem 2%;
	background-color: #419f5d;
	display: grid;
	grid-template-columns: 105px auto;
}

header h1 {
	margin: 0 10 0 0;
}

header h2 {
	margin: 0;
	font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
	background-color: $menuColor;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	float: left;
	width: 25%;
}
nav ul li a {
	display: block;
	background-color: darken($menuColor, 20%);
	color: #eee;
	border-left: 1px solid #777;
	padding: .5rem 0;
	text-decoration: none;
	font-size: .9rem;
	text-align: center;
}
nav ul li:first-child a {
	border-left: none;
}

nav ul li a:hover {
	background-color: lighten($menuColor, 3%);
}
nav ul li.active a {
	background-color: darken($menuColor, 50%);
}
/*----------- MAIN --------------*/
main {
	padding: 0 2%;
	min-height: 10rem;
}
main h1 {
	font-family: 'Fascinate', cursive;
	color: #419f5d;
	font-size: 52px;
}
// .fruitBasket {
// 	display: flex;
// 	flex-wrap: wrap; }
  
  
// .fruitBasket figure {
// 	flex-basis: 96%;
// 	margin: 1rem 2%;
// }

// .fruitBasket figcaption {
// 	color: #56625a;
// 	font-size: 42px;
// }


/*----------- FOOTER --------------*/
footer {
	background-color: #e1eae1;
	padding: .5rem 2%;
	text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 35rem) {
	/*----------- BODY --------------*/
	/*----------- HEADER --------------*/
	/*----------- NAVIGATION --------------*/
	nav ul {
		margin-left: 2%;
	}

	nav ul li {
		width: auto;
	}

	nav ul li:first-child a {
		border-left: 1px solid #777;
	}

	nav ul li:last-child a {
		border-right: 1px solid #777;
	}

	nav ul li a {
		padding: .5rem 1rem;
	}

	/*----------- MAIN --------------*/
	/*----------- FOOTER --------------*/
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
