header, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/
    header{
        font-size: 42px;
    }

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main{
        .card{
            flex-basis: 31.333%;
            }
    }

/*----------- FOOTER --------------*/
    
