/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* body rules */
body {
	font-family: Verdana;
	font-size: 16px;
}
header img {
	float: left;
	padding-right: 15px;
	height: 90px;
}
header {
	background-color: #17e4b1;
	padding: 1rem 2%;
}
header h1 {
	margin: 1.6rem 0 0 0;
	font-size: 1.5rem;
}
header h2 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: normal;
}

nav {
	background-color: #111;
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	list-style-type: none;
}
nav li.active {
	background-color: #333;
}
nav a {
	display: block;
	padding: .8rem 0; /*44px min*/
	color: #eee;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	background-color: #444;
}

main {
	min-height: 10rem;
	display: block;
	padding: 0;
}
main h1 {
	color: #17e4b1;
}
main h1, p {
	margin: 0 2%;
}
main p{
	padding: 0 0 2% 0;
}
main figure.hero {
	width: 100%;
	margin: 0;
}
main figure.hero img {
	width: 100%;
}
main figure.world {
	width: 50%;
	margin: 0 0 0 2%;
	float: right;
}
main figure.world img {
	width: 100%;
}
main figure.world figcaption {
	text-align: center;
	font-size: .75rem;
}

footer {
	clear: both;
	background-color: #17e4b1;
	text-align: center;
	padding: 1rem 2%;
	position: relative;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
